.navigator {
  height: 5vh;
  width: 100%;
  background-color: black;
}

.settings {
  float: right;
  padding: 0 2vw;
  height: 5vh;
  color: white;
  font-size: 2.75vh;
  text-align: center;
}

.input {
  height: 5vh;
  background-color: currentColor;
}

input {
  width: 23vw;
  position: relative;
  left: .65vw;
}

.tracks {
  height: 23.75vh;
  width: 100%;
  font-size: 2.75vh;
}

ul {
  list-style-type: none;
}

.public {
  background-color: crimson;
}

.private {
  background-color: #7CC1E9;
  height: 90vh;
  overflow: hidden;
}

.favorites {
  background-color: deepskyblue;
  width: 100%;
}

.recent {
  background-color: thistle;
  width: 100%;
}

.dashboardView, .settingsView {
  height: 95vh;
  width: 100%;
  background-color: #A6CDE4;
  font-size: 2.75vh;
  overflow: hidden;
}

.dashboardView {
  height: 90vh;
}

.col-md-3 {
  padding-right: 0;
  height: 95vh;
}

.col-md-9 {
  padding-left: 0;
  height: 95vh;
}

.trackLink {
  padding: 10px;
  margin: 15px 0px;
  color: black;
}

div .private  :hover {
  background-color: #4988AC;
  text-decoration: none;
}

.logout {
  float: left;
  padding-left: 0;
}

.dashboard  {
  background-color: currentColor;
}

.settings {
  border-radius: 2px;
}

.navigator .navLink :hover {
  color: black;
  background-color: white;
}

.navigator .visualLink :hover {
  color: currentColor;
  background-color: #A6CDE4;
}

#logout .navLink {
  font-size: 2vh;
}

#logout :hover {
  color: red;
  background-color: black;
}

/*css for scatterplot*/
#scatterplot {
  width: 100%;
  height: 100%;
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.d3-tooltip {
  line-height: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 0.8;
  color: rgba(255, 255, 255, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-input {
  line-height: 1;
  padding: 8px;
  background: rgba(64, 64, 64, 0.8);
  color: black;
  border-radius: 8px;
}

.d3-input-box {
  left: 0;
}

#input-box {
  font-size: 14px;
}
