/*google maps*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#google-map {
  height: 100%;
  width: 100%;
}

.navigator {
  height: 5vh;
  width: 100%;
  background-color: black;
}

.settings {
  float: right;
  padding: 0 2vw;
  height: 5vh;
  color: white;
  font-size: 2.75vh;
  text-align: center;
}

.input {
  height: 5vh;
  background-color: lightsteelblue;
}

.col-md-11 {
  border: solid black 1px;
  margin-top: 10px;
}

input {
  width: 23vw;
  position: relative;
  left: .65vw;
}

.streams {
  font-size: 4vh;
  padding-top: 8px;
  padding-left: 10px;
  margin: 0px 0px 5px;
}

.tracks {
  height: 23.75vh;
  width: 100%;
  font-size: 2.75vh;
}

ul {
  list-style-type: none;
}

.public {
  background-color: crimson;
}

.private {
  background-color: lightsteelblue;
  height: 90vh;
  overflow: hidden;
}

.favorites {
  background-color: deepskyblue;
  width: 100%;
}

.recent {
  background-color: thistle;
  width: 100%;
}

.dashboardView, .settingsView {
  height: 95vh;
  width: 100%;
  background-color: #A6CDE4;
  font-size: 2.75vh;
  overflow: hidden;
}

.dashboardView {
  height: 90vh;
}

.col-md-2 {
  padding-right: 0;
  height: 95vh;
  background-color: lightsteelblue;
}

.col-md-10 {
  padding-left: 0;
  height: 95vh;
}

.trackLink {
  padding: 5px;
  padding-left: 20px;
  color: black;
}

div .private  :hover {
  background-color: lightslategrey;
  text-decoration: none;
}

.dashboard  {
  background-color: currentColor;
}

.settings {
  border-radius: 2px;
}

.navigator .navLink :hover {
  color: black;
  background-color: white;
}

.navigator .visualLink :hover {
  color: currentColor;
  background-color: white;
}

.visual-pos {
  float: left;
}

.graph-header {
  position: relative;
  width: 1050px;
  height: 50px;
}

.graph-title {
  float: left;
  margin: 10px 400px 10px 50px;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: lightsteelblue;
  width: 400px;
  text-align: center;
}

.graph-timeInterval select {
  float: left;
  margin-top: 15px;
  background: lightsteelblue;
  width: 145px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
}

.dashboardView {
  background-color: white;
}

#logout .navLink {
  font-size: 2vh;
  float: right;
}

#logout :hover {
  color: red;
  background-color: black;
}

#scatterplot {
  position: relative;
  width: 100%;
  height: 100%;
  font: 14px sans-serif;
  background-color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  font-size: 16px;
}

.baseline {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#input-box {
  font-size: 14px;
}
